/* color variables*/
:root {
  --white: white;
  --black: black;
  --deep_purple: rgb(69, 17, 94);
  --orange : rgb(245, 136, 94);
  --green-future-background-color: #77dd77;
  --green-smaller-background-color: #a8dfa8;
  --red-present-background-color: #ff6961;
  --red-smaller-background-color: #f5908b;
  --grey-past-background-color: #bdb8b8;
  --grey-smaller-background-color: #dbd6d6;
  --save-button-background:#5f78e6;
  --save-button-desktop:#1708f0;
  --save-button-small:#e9bcbc;
  --save-button-smaller:#bcbfe9;
  --lemon_yellow: rgb(250, 241, 159);
}

/* element selectors */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border-radius: 10px;
  resize: none;
  color: var(--black);
  border: 1px double var(--black);
  padding: 10px;
}

footer{
  text-align: center;
}
em{
  font-size: smaller;
}


/* class selectors */
/* by default hides all elements with a class 'hide' */
.hide {
  display: none;
}
/* wavy underline: https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration */
.lead {
  text-decoration: rgb(247, 192, 210) wavy underline;
font-weight: bolder;
}

.btn {
  border: none;
  background-color: var(--lemon_yellow);
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 10%);
  color: var(--black);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}
/* Time Blocks */
.row {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space: with pre-wrap Sequences of white space are preserved. Lines are broken at newline characters, at <br>, and as necessary to fill line boxes. */
  white-space: pre-wrap;
  height: 90px;
  border-top: 1px solid var( --white);
  text-align: center;
  border-radius: 15px;
}
.hour {
  background-color: var(--lemon_yellow);
  color: var(--black);
  border: 2px dashed var(--black);
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  border-radius: 10%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  /* background-image: url("./Assets/images/ConfettiDesktopBackground.png"); */
  color: var(--black);
  border-radius: 0;
  border-bottom: 10px solid var(--black);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}


/* colors the background of events from the past grey ( based on the current time ) */
.past {
  background-color: var(--grey-past-background-color);
  color: var(--white);
}
/* colors the background of events from the present red ( based on the current time ) */

.present {
  background-color: var(--red-present-background-color);
  color: var(--white);
}

/* colors the background of events from the future green ( based on the current time ) */
.future {
  background-color: var(--green-future-background-color);
  color: var(--white);
}


/* Save Button */
.save {
  border: 1px solid var(--black);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--save-button-background);
  color: var(--save-button-desktop);
}

.save i:hover {
  font-size: 30px;
  /* allows for gradual zooming when icon is hovered upon for a 0.1s*/
  transition: all 0.1s ease-in-out;
}

/* media query for smaller screens */

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
    line-height: 0.9;
  }
  .lead{
    font-size: 18px;
    color: var(--orange);
    font-style: bolder;
    text-decoration: rgb(236, 102, 164) dashed underline;
  }

.display-3{
    font-size: 40px;
    font-weight: bolder;
  }
  .btn {
    font-size: 1rem;
}
  .row {
    height: 90%;
    margin-left: 2%;
    margin-right: 1.6%;
    border-top: var(--orange);
  }
  .hour {
    margin-right: 1%;
    padding: 4px 4px;
    font-size: 14px;
    font-weight: bolder;
    border: 1.7px dotted var(--orange);
    background-color: var(--white-text);
    color: var(--orange);
    border-radius: .40rem;
  }

  .save {
    border-top-right-radius: .40rem;
    border-bottom-right-radius: .40rem;
    border-top: 1.7px solid var(--black);
    color: var(--save-button-small);
  }

  .jumbotron {
    color: var(--orange);
    border-bottom: 10px rgb(236, 102, 164) dashed;
    }

  /* colors the background of events from the past grey ( based on the current time ) */
  .past {
    background-color: var(--grey-smaller-background-color);
    color: var(--orange);
  }
  /* colors the background of events from the present red ( based on the current time ) */
  
  .present {
    background-color: var(--red-smaller-background-color);
    color: var(--orange);
  }
  
  /* colors the background of events from the future green ( based on the current time ) */
  .future {
    background-color: var(--green-smaller-background-color);
    color: var(--orange);
  }
  
}
@media screen and (max-width: 762px) {
  body {
    font-size: 12px;
    line-height: 0.8;
  }
  .lead{
    font-size: 15px;
    color: var(--deep_purple);
    font-style: bolder;
      text-decoration:var(--red-present-background-color) dashed underline;
  }

.display-3{
    font-size: 25px;
    font-weight: bolder;
  }
  .btn {
    font-size: 0.8rem;
}
  .row {
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    border-top: var(--deep_purple);
  }
  .hour {
    margin-right: 1%;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
    border: 2px dashed var(--deep_purple);
    background-color: var(--white-text);
    color: var(--deep_purple);
    border-radius: .25rem;
  }

  .save {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top: 1px solid var(--black);
    color: var(--save-button-smaller);
  }

  .jumbotron {
    color: var(--deep_purple);
    border-bottom: 10px dotted var(--deep_purple) ;
  }

  /* colors the background of events from the past grey ( based on the current time ) */
  .past {
    background-color: var(--grey-smaller-background-color);
    color: var(--deep_purple);
  }
  /* colors the background of events from the present red ( based on the current time ) */
  
  .present {
    background-color: var(--red-smaller-background-color);
    color: var(--deep_purple);
  }
  
  /* colors the background of events from the future green ( based on the current time ) */
  .future {
    background-color: var(--green-smaller-background-color);
    color: var(--deep_purple);
  }
  
}