/* instead of using css could have used bootstraps classes/custom classes however opted for this form , for practice */
/* color variables*/
:root {
  --grey: rgb(92, 91, 91);
  --black: black;
  --deep_purple: rgb(69, 17, 94);
  --orange : rgb(245, 136, 94);
  --green-future-background-color: #cff8cf;
  --red-present-background-color: #f8bcb8;
  --grey-past-background-color: #d8d7d7;
  --save-button:#16800d;
  --delete-button-background:#99e5f8;
  --delete-button:#070e6b;
  --lemon_yellow: lemonchiffon;
  --hour-label: lavenderblush;
}

/* element selectors */
textarea {
  font-style: oblique;
  font-weight: bolder;
  background: transparent;
  border-radius: 10px;
  resize: none;
  color: var(--black);
  border: 1px double var(--black);
  padding: 10px;
  /* text area adjustable https://developer.mozilla.org/en-US/docs/Web/CSS/overflow*/
  overflow: auto;
  resize: both;
}

footer{
  font-size: 17px;
  font-weight: bolder;
  position: fixed !important;
  bottom: 10px;
  width: 100%;
  height: 70px;
  text-align: center;
}

#back, em{
  font-style: bold;
}

/* class selectors */
/* by default hides all elements with a class 'hide' */
.hide {
  display: none;
}

#currentDay{
font-weight: bolder;
font-size: 25px;
background: -webkit-linear-gradient(rgb(248, 110, 67),rgb(248, 237, 84));
background-clip: inherit;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 7px;
}

.line {
font-weight: bold;
font-size: 20px;
background: -webkit-linear-gradient(rgb(248, 237, 84),rgb(240, 95, 228));
background-clip: inherit;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 7px;
}

.btn {
  border: none;
  background-color: var(--lemon_yellow);
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 10%);
  color: var(--black);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 2px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

/* zoom in slight upon hovering over header section btn */
header .btn:hover { 
  transform: scale(1.1); 
}

/* Time Blocks */
.row {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space: with pre-wrap Sequences of white space are preserved. Lines are broken at newline characters, at <br>, and as necessary to fill line boxes. */
  white-space: pre-wrap;
  height: 130px;
  text-align: center;
  border-radius: 15px;
}
.hour {
  background-color: var(--hour-label);
  color: var(--black);
  border: 2px dashed var(--black);
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  border-radius: 10%;
  overflow: auto;
  padding: 2px;
}

.jumbotron {
  text-align: center;
  color: var(--black);
  border-radius: 0;
  border-bottom: 8px dashed rgb(10, 245, 194);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

/* colors the background of events from the past grey ( based on the current time ) */
.past {
  background-color: var(--grey-past-background-color);
  color: var(--grey);
}
/* colors the background of events from the present red ( based on the current time ) */

.present {
  background-color: var(--red-present-background-color);
  color: var(--grey);
}

/* colors the background of events from the future green ( based on the current time ) */
.future {
  background-color: var(--green-future-background-color);
  color: var(--grey);
}

/* Add (Save) Button */
.add {
  border: 1px solid var(--black);
  background-color: var( --lemon_yellow);
  color: var(--save-button);
  padding: 3px;
  position: fixed;
  right:    0;
  bottom:   3;
}


.add:hover {
  font-size: 30px;
  /* allows for gradual zooming when icon is hovered upon for a 0.1s*/
  transition: all 0.1s ease-in-out;
}

/* Delete Button */
.erase {
  /* https://www.w3schools.com/cssref/pr_class_position.asp & https://stackoverflow.com/questions/5817233/align-button-at-the-bottom-of-div-using-css */
  position: fixed;
  left:    0;
  top:   2;
  border: 1px solid var(--black);
  background-color: var(--delete-button-background);
  color: var(--delete-button);
  padding: 3px;
}

.erase:hover {
  font-size: 30px;
  /* allows for gradual zooming when icon is hovered upon for a 0.1s*/
  transition: all 0.1s ease-in-out;
}
