/* universal selectors*/
*{
/* all text color is white unless otherwise specified*/
color: white;
}

/* element selectors */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000 !important;
  border-left: 1px solid black;
  padding: 10px;
}

/* class selectors */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black !important;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000 !important; 
  border-top: 1px dashed #000000;
}
/* colors the background of events from the past grey ( based on the current time ) */
.past {
  background-color: #d3d3d3;
}
/* colors the background of events from the present red ( based on the current time ) */

.present {
  background-color: #ff6961;
}

/* colors the background of events from the future green ( based on the current time ) */
.future {
  background-color: #77dd77;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
